body {
    background-color: #138d75;
    background-image: url('forest-7406241_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
